body {
  background-color: #f6e4ad;
}

h1 {
  background-color: #240747;
  color: #f0ab8d;
  font-family: monospace;
  padding: 30px;
  font-size: 35px;
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

.header {
  font-weight: bold;
  font-size: 45px;
}
.secondheader {
  font-size: 35px;
  display: block;
}

.col {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  color: #f6e4ad;
  background-color: #240747;
}
.card-image-top {
  position: fixed;
  top: 10px;
  left: 200px;
  margin-right: 0;
}
.youtubevideo {
  display: block;
  margin: auto;
  padding: 30px;
}

.carpic {
  color: white;
}
